{% extends "main_menu/main_menu.html"%}
{% include "socialaccount/snippets/login_extra.html" %}
{% load i18n %}
{% load account socialaccount %}

    {% block body_block %}
    <div class="ui centered grid stackable container">
        <div class="column">
            <div class="ui hidden divider spacers" style="padding-top: 5%;"></div>

                <div class="ui two column centered grid">
                    <div class="column">
                        <h2 class="ui teal center aligned header">Password Reset</h2>
                        {% if user.is_authenticated %}
                            <div class="ui message">
                                {% include "account/snippets/already_logged_in.html" %}
                            </div>
                        {% endif %}
                     
                        <h4 class="ui dividing header">Please enter your e-mail address below<p>We'll send you an e-mail allowing you to reset it.</p></h4>

                        <form class="ui form"method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input class="ui fluid small teal submit button" type="submit" value="{% trans 'Reset My Password' %}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

     
{% endblock %}
