{% extends "main_menu/main_menu.html"%}
    {% block body_block %}
    <div class="ui centered grid stackable container">
            <div class="column">
            <div class="ui hidden divider spacers" style="padding-top: 5%;"></div>
                <div class="ui grid">
    
                    <div class="ui segment secondary inverted">
                        <h1 class="ui header">About This Website</h1>
                        <p>Hello, world!
                            This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                    </div>
                </div>
        </div>
    </div>
    {% endblock %}